html {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  border: 5px solid black;
  border-radius: 25px;
  box-shadow: 0 0 20px 10px rgba(243, 227, 0, 0.786),
    /* Blue inner shadow */ 0 0 20px 10px rgba(246, 1, 95, 0.878); /* Red inner shadow */
}

body {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}
div {
}
@media only screen and (max-width: 768px) {
  /* Adjust width as needed */
  canvas {
    transform: rotate(90deg); /* Rotate 90 degrees for portrait mode */
    width: 10vh;
  }
}
